<% layout("/layouts/boilerplate") %>

    <body>
        <div class="row" mt-3>
            <div class="col-8 offset-2">
                <br>
                <h3>Create New Listings</h3>
                <form method="POST" action="/Listings" enctype="multipart/form-data" novalidate class="needs-validation">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input name="Listing[title]" placeholder="enter title " type="text" class="form-control" required>
                        <div class="valid-feedback">looks good!</div>
                    </div>

                    <div class="mb-3">
                        <label for="deccription" class="form-label">Deccription</label>
                        <textarea name="Listing[description]" placeholder="enter deccription" class="form-control" required></textarea>
                        <div class="invalid-feedback">please enter a short Description</div>
                        <div class="valid-feedback">looks good!</div>
                    </div>
                    <div class="mb-3">
                        <div> <label for="image" class="form-label">Upload Img</label>
                            <input type="file" name="Listing[images]" class="form-control">
                        </div>

                        <div class="row">
                            <div class="mb-3 col-md-4">
                                <label for="price" class="form-label">Price</label>
                                <input type="text" name="Listing[price]" placeholder="enter price" class="form-control" required>
                                <div class="invalid-feedback">Please enter a valid price</div>
                            </div>
                            <div class="mb-3 col-md-8"> <label for="country" class="form-label">Country</label>
                                <input type="text" name="Listing[country]" placeholder="enter country" class="form-control" required>
                                <div class="invalid-feedback">Country should be valid </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="location" class="form-label">Location</label>
                            <input type="text" name="Listing[location]" placeholder="enter location" class="form-control" required>
                            <div class="invalid-feedback">Location should be valid</div>
                        </div>
                        <button class="btn btn-dark add-btn mt-3">Add New</button>
                        <br>
                        <br>
                </form>
                </div>
            </div>
    </body>